td.price {
    text-align: right;
    padding-right: 5px;
}

div.label {
    clear: left;
    padding-right: 5px;
    float: left;
    width: 10%;
    text-align: right;
    font-weight: bold;
}

div.header {
    float: left;
}

.section {
    clear: both;
    padding-top: 10px;
}

table td {
    padding-left: 5px;
    padding-right: 5px;
}

table th {
    padding-left: 5px;
    padding-right: 5px;
}