<h1>Listing quarterly_results</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quarterly_results.each do |quarterly_result| %>
  <tr>
    <td><%= link_to 'Show', quarterly_result %></td>
    <td><%= link_to 'Edit', edit_quarterly_result_path(quarterly_result) %></td>
    <td><%= link_to 'Destroy', quarterly_result, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quarterly result', new_quarterly_result_path %>
