@import "blueprint"

.container
  width: 1190px

.price
  text-align: right

.profit
  color: green

.loss
  color: red

div
  &.label
    +column(3)
    text-align: right
    font-weight: bold
  &.header
    +column(3)
    &.last
      margin-right: 0px

section
  +column(30,true)
  clear: both
  padding-top: 10px

header
  +column(30,true)
  text-align: center
  font-size: 2.5em

h2
  font-size: 1.5em

section.pagination
  text-align: right
  margin-bottom: 1em