<p id="notice"><%= notice %></p>

<p>
  <b>Period ended:</b>
  <%= @balance_sheet.period_ended %>
</p>


<%= link_to 'Edit', edit_balance_sheet_path(@balance_sheet) %> |
<%= link_to 'Back', balance_sheets_path %>
